* {
    margin: 0px;
    padding: 0px;
}
body {
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

ul {
    list-style-type: none;
    display: flex;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero,
.footer {
    background-color: #1F2937;
}

.quote {
    background-color: #E5E7EB;
}

button,
.cta {
    background-color: #3882F6;
}
/* .hero {


}

.information {

}

.card {

}

.card-placeholder {

}



.cta-left {

}

.cta-left.button {
    border: 1px white solid;
}

.footer {

} */