* {
    margin: 0px;
    padding: 0px;
}
body {
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style-type: none;
    display: flex;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .hero {


}

.information {

}

.card {

}

.card-placeholder {

}

.quote {

}

.cta {

}

.cta-left {

}

.cta-left.button {
    border: 1px white solid;
}

.footer {

} */